@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {

  --background: #1e1e1e; /* Dark background color */
  --text: #bfbfbf; /* Light text color */
  --link: #66dddd; /* Red link color */
  --link-hover: #000000; /* Light red link color on hover */

}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover);

}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--text);
}

header {
  text-align: center;
  padding: 20px 0;
}

header h1 {
  font-size: 2.5em;
  margin: 5px 0;
}

header h3 {
  font-size: 0.8em;
  margin: 5px 0;
}

main {
  text-align: center;
  padding: 100px;
}

footer {
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--background);
  color: var(--text);
}
